# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

.tmp
.sass-cache
.DS_Store


# IDE Configuration
.idea

# Sass cache directory
.sass-cache

# Production Files
builds/production/*.html
builds/production/js/*.js
builds/production/js/*.json
builds/production/css/*.css
builds/production/images/*